.home{
  position: relative;
  /* background-color: rgb(44, 186, 186); */
}
.goodsList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(214, 214, 209, 0.4);
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  width: 820px;
  justify-content: center;
  margin: 70px auto;
  /* background-color: rgb(44, 186, 186); */
}
.chart{
  position: absolute;
  top:10px;
  right:20px;
  height: 30;
  width: 30;
  /* background-color: rgb(44, 186, 186); */
}


.carts{
  /* position: absolute;
  top: 50px;
  left :50%;
  transform: translateX(-50%);
  width:600px;
  height:550px;
  background-color: #fff; */

}